<!doctype html>
<html ng-app="pledgedSitesApp">
    <head>
        <meta charset="utf-8">
        <title>Pledge Away</title>
    </head>
    <body ng-cloak>
        <div class="container" ng-controller="pledgedSitesCtrlDebug">
          <div ng-show="pledgedSites">
            <form ng-submit="monthlyPledge()">
              Your monthly total pledge
              <input type="number"
                     size="20"
                     ng-model="monthlyPledgeAmount"/>
            </form>
            <!-- <pre ng-show="pledgedSites">{{pledgedSitesStr}}</pre> -->
            <table class="table table-condensed" ng-show="pledgedSites">
               <tr ng-repeat="site in pledgedSitesKeys">
                 <td>
                   <a href="http://{{site}}">{{site}}</a>
                   <span ng-show="pledgedSites[site].canPledge"> supports </span>
                   <span ng-show="!pledgedSites[site].canPledge"> does not yet support </span>
                   your {{pledgedSites[site].pledged}} pleges (${{pledgedSites[site].dollars}})
                   due to {{pledgedSites[site].visits}} visits resulted in {{pledgedSites[site].percentage}}%
                 </td>
                 <td>
                   <button class="btn btn-default" ng-click="pledge(site)">Pledge More</button>
                 </td>
                 <td>
                   <button class="btn btn-default" ng-click="clear(site)">Clear All</button>
                 </td>
               </tr>
            </table>
          </div>
        </div>
    </body>
</html>
