<!doctype html>
<html ng-app="pledgedSitesApp">
    <head>
        <meta charset="utf-8">
        <title>Pledge Away</title>
    </head>
    <body ng-cloak>
        <div class="container" ng-controller="pledgedSitesCtrl">
          <div ng-show="pledgedSites">
            <form ng-submit="monthlyPledge()">
              Your current monthly pledge ${{monthlyPledgeAmount}}.
              Your next month pledge amount
              <input type="number"
                     size="20"
                     ng-model="nextMonthPledgeAmount"/>
            </form>
            <!-- <pre ng-show="pledgedSites">{{pledgedSitesStr}}</pre> -->
            <table class="table table-condensed" ng-show="pledgedSites">
               <tr ng-repeat="site in pledgedSitesKeys">
                 <td>
                   <a href="http://{{site}}">{{site}}</a>
                   <span ng-show="pledgedSites[site].canPledge">
                    supports and will recieve {{pledgedSites[site].percentage}}% of your pledge
                   </span>
                   <span ng-show="!pledgedSites[site].canPledge">
                    does not yet support your pledge, but when it does, it will recieve {{pledgedSites[site].percentage}}% of your pledge
                   </span>
                 </td>
                 <td>
                   <button class="btn btn-default" ng-show="!pledgedSites[site].unpledged" ng-click="clear(site)">Unpledge</button>
                 </td>
               </tr>
            </table>
          </div>
        </div>
    </body>
</html>
