<!doctype html>
<html ng-app="pledgedSitesApp">
    <head>
        <meta charset="utf-8">
        <title>Pledge Panel</title>
    </head>
    <body ng-cloak>
        <div class="container" ng-controller="pledgePanelCtr">
            <p>{{siteInfo.host}}
              <span ng-show="siteInfo.canPledge">supports Mozilla Pledge</span>
              <span ng-show="!siteInfo.canPledge">does not support Mozilla Pledge, but it may soon</span>
            </p>
            <p ng-show="siteInfo.pledged">You made {{siteInfo.pledged}} pledges to {{siteInfo.host}}</p>
            <p>You can support {{siteInfo.host}} by making a new </p>
              <button class="btn btn-default quote-btn" ng-click="pledge()">Pledge</button>
              <span ng-show="siteInfo.pledged">
                or
                <button class="btn btn-default quote-btn" ng-click="clear()">Clear</button>
                your prior pledges
              </span>
            </div>
        </div>
    </body>
</html>
